
.user-info-card {
    text-align: center;
  }
  
  .user-info-row {
    margin-bottom: 10px;
  }
  
  .user-info-label {
    font-weight: bold;
    color: #555;
  }
  
  .user-info-value {
    color: #333;
  }
  

mat-icon {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  